.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm
.netrc

#Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/*.xcresult

#XCOV
xcov_output